@keyframes bganimation {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
    
}
@keyframes border-animation {
    0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

@keyframes animatetxt {
    0%{
        width: 0%;
    }
    100%{
        width: 70%
    }
}

@media all and (max-width: 576px){
    @keyframes slide {
        100%{
            top: -55px;
        }
    }
}
@media all and (min-width: 576px){
    @keyframes slide {
        100%{
            top: -93px;
        }
    }
}
@media all and (min-width: 992px){
    @keyframes slide {
        100%{
            top: -113px;
        }
    }
}
@media all and (min-width: 1200px){
    @keyframes slide {
        100%{
            top: -140px;
        }
    }
}